<nav class="container c-footer">
  <ul class="c-footer-list">
    <li class="c-footer-list__item c-footer-list__item--start">
      <a class="c-footer-list__link" href="/o-nas">O nas</a>
    </li>
    <li class="c-footer-list__item">
      <a class="c-footer-list__link" href="/kontakt">Kontakt</a>
    </li>
    <li class="c-footer-list__item c-footer-list__item--end">
      <span class="c-footer-list__claim">Rozwijamy Kulturę</span>
      &copy; zcyklu.pl 2018
      <a class="c-footer-list__link" target="_blank" href="http://zcyklu.pl">
        <span class="icon-heart"></span>
      </a>
    </li>
  </ul>
</nav>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

<script src="/js/vendor/bootstrap.min.js"></script>

<script src="/js/main.js"></script>

</body>
</html>
