@import "bootstrap";

/*  font weights:
    thin:                 100,
    light:                300,
    normal:               400,
    bold:                 700,
    ultra-bold:           900,
*/

@import "abstracts/variables";

@import "fonts";
@import "constants";

@import "components/about-us";
@import "components/contact";

@import "components/footer";

@import "partials/common/common";
@import "partials/article-tiles/article-tiles";
@import "partials/nav/nav";
@import "partials/template-article/template-article";
@import "partials/template-author/template-author";
@import "partials/template-frontpage/template-frontpage";
@import "partials/template-series/template-series";
