.contact-wrapper {
    font-size: 18px;
    h1 {
        text-transform: uppercase;
    }
    .contact-list {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .join-us {
        margin-top: 20px;
        h1 {
            font-size: 24px;
        }
        h2 {
            margin-top: 0;
            font-size: 18px;
        }
    }
}
