<% include ../partials/header.ejs %>

<% include ../partials/nav.ejs %>

<main class="container about-us-wrapper">
<%- page.content %>
  <div class="authors-wrapper col-lg-12">
      <h1>
          Redakcja
      </h1>
      <% page.authors.forEach(function (author) { %>
      <a href="#" class="author-biogram row">
        <img class="col-lg-2" src="<%= author.fields.profilePhoto.fields.file.url %>?w=125">
        <p class="col-lg-10">
          <%= author.fields.name %>
        </p>
      </a>
      <% }); %>
  </div>
</main> <!-- /container -->

<% include ../partials/footer.ejs %>
