<% include ../partials/header.ejs %>

<% include ../partials/nav.ejs %>

<main class="container contact-wrapper">
<%- page.content %>
</main> <!-- /container -->

<% include ../partials/footer.ejs %>
