<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="container nav-wrapper">
  <% include ../partials/nav.ejs %>
</div>      <!-- /.nav-wrapper -->

<main class="container contact-wrapper">
<%- page.content %>
</main> <!-- /container -->

<% include ../partials/footer.ejs %>

</body>
</html>
