.article-main-wrapper {
    > .container > .header-wrapper {
        text-align: center;

        .category-name {
            font-weight: 600;
            padding: 2px 12px;
            @each $serie-name, $serie-color in $series-to-colors {
                &.#{$serie-name} {
                    background-color: #{$serie-color};
                }
            }
        }
        > .article-info > time {
            display: block;
        }
        a {
            color: $white;
        }
    }
}

main.article-wrapper {
    margin-top: 30px;
    .article-lead {
        font-weight: bold;
        font-size: 18px;
    }
    .article-content div {
        font-size: 18px;
        margin-top: 20px;
    }
    p + p {
        font-size: 18px;
    }
    .author-biogram {
        > h1 {
            margin: 0 0 10px 0;
            padding: 0 0 0 15px;
            font-size: 14px;
            font-weight: 600;
            color: #000000
        }
        > p {
            margin: 0;
            padding: 0 0 0 15px;
            font-size: 14px;
            font-weight: 300;
            color: #000000;
        }
    }
}
